h1 = @question.title
p = @question.body
= link_to('Delete question', question_path(@question), :method =>'delete')
br
= link_to('Logout', destroy_user_session_path, :method =>'delete')
br
 
 - @question.answers.each do |answer| 
  h3= answer.content 
